{% extends 'question/base.html' %}
{% load static %}

{% block title%}
    User {{ user.username }} - {{ block.super }}
{% endblock %}

{% block content %}
    <p>
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" height=256 />
        {% else %}
            <img src="{% static 'img/default_avatar.jpg' %}" height=256 />
        {% endif %}
    </p>
    <p><strong>Username</strong>: {{ user.username }}</p>
    <p><strong>Email</strong>: {{ user.email }}</p>
    <p><strong>Date of registration</strong>: {{ user.registered }}</p>
{% endblock %}